In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import RobustScaler , LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor

In [2]:
df= pd.read_csv("/kaggle/input/house-price/1553768847-housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [3]:
df.shape

(20640, 10)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [5]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
df.isnull().sum()*100/df.shape[0]

longitude             0.000000
latitude              0.000000
housing_median_age    0.000000
total_rooms           0.000000
total_bedrooms        1.002907
population            0.000000
households            0.000000
median_income         0.000000
ocean_proximity       0.000000
median_house_value    0.000000
dtype: float64

In [7]:
df = df.dropna()

In [8]:
df.isnull().sum()*100/df.shape[0]

longitude             0.0
latitude              0.0
housing_median_age    0.0
total_rooms           0.0
total_bedrooms        0.0
population            0.0
households            0.0
median_income         0.0
ocean_proximity       0.0
median_house_value    0.0
dtype: float64

In [9]:
df.shape

(20433, 10)

In [10]:
for i in list(df.columns):
    print("\n ************ "+i+" ************\n")
    print("\n",df[i].value_counts())

 ************ longitude ************


 longitude
-118.31    159
-118.30    157
-118.29    146
-118.27    141
-118.32    141
          ...
-123.72      1
-115.95      1
-115.80      1
-116.55      1
-123.47      1
Name: count, Length: 844, dtype: int64

 ************ latitude ************


 latitude
34.06    241
34.08    232
34.05    229
34.07    227
34.04    215
        ...
32.54      1
40.74      1
40.24      1
34.84      1
35.88      1
Name: count, Length: 861, dtype: int64

 ************ housing_median_age ************


 housing_median_age
52    1265
36     856
35     818
16     762
17     694
34     682
26     611
33     609
25     562
32     560
18     560
37     528
15     507
19     499
27     482
24     473
30     470
28     468
20     462
29     453
31     449
23     445
21     444
14     410
22     395
38     385
39     366
42     363
44     353
43     351
40     301
13     298
41     293
45     286
10     263
11     252
46     245
5      242
12     236
9      204
8      203
47     195
4      190
48     174
7      173
6      157
50     135
49     133
3       62
2       58
51      47
1        4
Name: count, dtype: int64

 ************ total_rooms ************


 total_rooms
1527     18
1582     17
1613     17
2127     16
1471     15
         ..
539       1
6442      1
5367      1
5122      1
10035     1
Name: count, Length: 5911, dtype: int64

 ************ total_bedrooms ************


 total_bedrooms
280.0     55
331.0     51
345.0     50
343.0     49
393.0     49
          ..
2961.0     1
1915.0     1
1215.0     1
3298.0     1
1052.0     1
Name: count, Length: 1923, dtype: int64

 ************ population ************


 population
891     25
1052    24
850     24
1227    24
761     24
        ..
2913     1
2757     1
3392     1
6897     1
6912     1
Name: count, Length: 3879, dtype: int64

 ************ households ************


 households
306     57
335     56
282     55
386     55
429     54
        ..
996      1
1699     1
2528     1
1565     1
1818     1
Name: count, Length: 1809, dtype: int64

 ************ median_income ************


 median_income
3.1250     49
15.0001    48
2.8750     46
4.1250     44
2.6250     44
           ..
6.0723      1
4.6992      1
5.4042      1
6.7744      1
2.0943      1
Name: count, Length: 12825, dtype: int64

 ************ ocean_proximity ************


 ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

 ************ median_house_value ************


 median_house_value
500001    958
137500    119
162500    116
112500    103
187500     92
         ...
359200      1
51200       1
39800       1
377600      1
47000       1
Name: count, Length: 3833, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['ocean_proximity_num']= labelencoder.fit_transform(df['ocean_proximity'])

In [12]:
df= df.drop('ocean_proximity',axis=1)

In [13]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_num
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,3
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,3
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,3
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,3
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,3

In [15]:
X = df.drop(['median_house_value'] , axis = 1)
y = df['median_house_value']

In [16]:
from sklearn.preprocessing import StandardScaler
numerical_columns = X.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
X[numerical_columns] = scaler.fit_transform(X[numerical_columns])

In [17]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_num
0,-1.327314,1.051717,0.982163,-0.803813,-0.970325,-0.973320,-0.976833,2.345163,1.291351
1,-1.322323,1.042355,-0.606210,2.042130,1.348276,0.861339,1.670373,2.332632,1.291351
2,-1.332305,1.037674,1.855769,-0.535189,-0.825561,-0.819769,-0.843427,1.782939,1.291351
3,-1.337296,1.037674,1.855769,-0.623510,-0.718768,-0.765056,-0.733562,0.932970,1.291351
4,-1.337296,1.037674,1.855769,-0.461970,-0.611974,-0.758879,-0.628930,-0.013143,1.291351

In [18]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split( X , y ,test_size= 0.2 ,random_state= 74)

In [19]:
neko = CatBoostRegressor(verbose=False, random_state=1)

In [20]:
neko.fit(X_train, y_train)

In [21]:
predictions = neko.predict(X_test)

In [23]:
predictions

array([114650.70805686, 488291.31283645, 247389.41140893, ...,
       242233.63049736, 329127.1243791 , 303675.26688135])

In [24]:
y_test

12325     78500
8305     500001
594      227000
2683      96000
5552     187500
          ...
19346    168800
3173     103100
6745     264100
15907    271300
18221    277000
Name: median_house_value, Length: 4087, dtype: int64

In [25]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [27]:
np.sqrt(mean_squared_error(y_test, predictions))

47505.98898057313

In [28]:
r_squared = r2_score(y_test, predictions)
r_squared

0.8345871783090865